services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    volumes:
      - ./NetChallenge.API/appsettings.Development.json:/app/appsettings.Development.json:ro
      - ./NetChallenge.API/appsettings.json:/app/appsettings.json:ro
    restart: unless-stopped

  tests:
    image: mcr.microsoft.com/dotnet/sdk:10.0
    volumes:
      - .:/src
    working_dir: /src
    command: dotnet test
    profiles:
      - test

